<h1 style="text-align: center;">Glimmer DSL for Web Rails 7 Sample App</h1>

<% if params[:address] == 'true' %>
  <%= render 'welcomes/address_page' %>
<% else %>
  <%= glimmer_component('sample_selector') %>
<% end %>
